.item-list {
    grid-area: ItemList;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #5C6AC4;
    padding: 1rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    min-width: 30rem;
    min-height: 18rem;
}