.header {
    grid-area: Header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.interactive {
  display: flex;
  flex-direction: row;
}

.search {
  margin-right: 2rem;
}