.fridge-header {
  grid-area: Header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.fridge-header-logo {
  margin-top: 4rem;
  height: 11rem;
  margin-bottom: 3rem;
}