.header {
    grid-area: Header;
    display: flex;
    justify-content: space-between;
    background-color: #B3BCF5;
}

.header-title {
    display: flex;
    align-items: center;
}

.heading {
    margin: 0rem 12rem 0rem 4rem;
}

.profile-icon {
    display: flex;
    min-width: 14rem;
}