.item-summary-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-summary-heading {
  border-bottom: 1px solid #DFE3E8;
  padding: 2rem 3rem;
  width: 100%;
}

.item-logo {
  margin-left: auto;
  display: flex;
  margin-right: auto;
}

.icon-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}